{% extends 'base.html' %}

{% block title %}
    {{super()}} - {{title}}
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/logout" method="post">
        <button type="submit"><a href="/logout">Logout</a></button>
    </form>
{% endblock %}