<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Сайт с наследованием шаблонов
        {% endblock %}
    </title>
</head>
<body>

    <div>
        <ul>
            <li><a href="/main/">Главная</a></li>
            <li><a href="/data/">Данные</a></li>
        </ul>

        {% block content %}
            Пустая страница
        {% endblock %}

        <div>
            <hr>
            <p>Все права защищены</p>
        </div>

    </div>

</body>
</html>