{% extends 'base.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
  <div>
    <h1>Тут хранится информация</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eveniet incidunt magnam maxime,
      obcaecati optio ratione repellat! Consequuntur ea facilis harum provident sed sequi sint soluta voluptatem
      voluptatibus voluptatum? Fuga.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eveniet incidunt magnam maxime,
      obcaecati optio ratione repellat! Consequuntur ea facilis harum provident sed sequi sint soluta voluptatem
      voluptatibus voluptatum? Fuga.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eveniet incidunt magnam maxime,
      obcaecati optio ratione repellat! Consequuntur ea facilis harum provident sed sequi sint soluta voluptatem
      voluptatibus voluptatum? Fuga.</p>
  </div>
{% endblock %}